<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link type="text/css" rel="stylesheet" href="css/purple.css" />
</head>
<body>
<!-- Begin Image -->
<img class="portrait" src="images/image.jpg" alt="Soulyana Lakew" />
<!-- End Image -->
<!-- Begin Personal Information -->
<div class="self">
    <h1 class="name">Soulyana Lakew <br />
        <span>Java Web App Developer</span></h1>
    <ul>
        <li class="ad">University of Maryland, College Park, MD 20740</li>
        <li class="mail">soulakew@umd.edu</li>
        <li class="tel">(240)500-6140</li>
        <li class="web">https://github.com/soulyana</li>
    </ul>
</div>
<!-- End Personal Information -->
<!-- Begin Social -->
<div class="social">
    <ul>
        <li><a class='north' href="#" title="Download .pdf"><img src="images/icn-save.jpg" alt="Download the pdf version" /></a></li>
        <li><a class='north' href="javascript:window.print()" title="Print"><img src="images/icn-print.jpg" alt="" /></a></li>
        <li><a class='north' id="contact" href="contact/index.html" title="Contact Me"><img src="images/icn-contact.jpg" alt="" /></a></li>
        <li><a class='north' href="#" title="Follow me on Twitter"><img src="images/icn-twitter.jpg" alt="" /></a></li>
        <li><a class='north' href="#" title="My Facebook Profile"><img src="images/icn-facebook.jpg" alt="" /></a></li>
    </ul>
</div>
<!-- End Social -->
</div>
<!-- Begin 1st Row -->
<div class="entry">
    <h2>OBJECTIVE</h2>
    <p>To develope interactive and efficent web pages</p>
</div>
<!-- End 1st Row -->
<!-- Begin 2nd Row -->
<div class="entry">
    <h2>EDUCATION</h2>
    <div class="content">
        <h3>Sep 2013 - May 2018</h3>
        <p>University of Maryland, College Park <br />
            <em>Bachelors in Economics</em></p>
    </div>
    <div class="content">
        <h3>Sep 2010 - Aug 2013</h3>
        <p>Hagerstown Community College <br />
            <em>Associate in Business Administration adn Management</em></p>
    </div>
</div>
<!-- End 2nd Row -->
<!-- Begin 3rd Row -->
<div class="entry">
    <h2>EXPERIENCE</h2>
    <div class="content">
        <h3>May 2009 - Feb 2010</h3>
        <p>Supplemental Educational Services Coordinator<br />
            <em>GAPBUSTER Learning Center, Riverdale </em></p>
        <ul class="info">
            <li>Collaborate with software developers and IT professionals in network to build educational training program for members.</li>
            <li>Lead bi­weekly meetings that focus on the development of Java programming skills by utilizing
                current CMSC131 course materials and personal knowledge of Java.</li>
            <li>Liaison between all parties associated with the SES program of 20+ members and Board members</li>
            <li>Corresponded daily with members to address educational needs and provide tutoring services</li>
        </ul>
    </div>
    <div class="content">
        <h3>Jun 2007 - May 2009</h3>
        <p>Business Development and Management,<br />
            <em>The Davidson Company, Hagerstown MD</em></p>
        <ul class="info">
            <li>Gave 20 individual and 15 team presentations to groups ranging from 3 to 10 people on our business solution systems (phone, in person and video presentations)</li>
            <li>Train clients by reviewing and revising orientation to specialty products and sales training materials; deliver training sessions; review training results and learning needs with company president; develop and implement new product training.</li>
            <li>Assist in preparation of sales reports and prepared monthly financial reports</li>
            <li>Experience with accounts payable, accounts receivable, audits and month end closings.</li>
        </ul>
    </div>
</div>
<!-- End 3rd Row -->
<!-- Begin 4th Row -->
<div class="entry">
    <h2>SKILLS</h2>
    <div class="content">
        <h3>Software Knowledge</h3>
        <ul class="skills">
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>InDesign</li>
            <li>Flash</li>
            <li>Fireworks</li>
            <li>Dreamweaver</li>
            <li>After Effects</li>
            <li>Cinema 4D</li>
            <li>Maya</li>
        </ul>
    </div>
    <div class="content">
        <h3>Languages</h3>
        <ul class="skills">
            <li>CSS/XHTML</li>
            <li>PHP</li>
            <li>JavaScript</li>
            <li>Ruby on Rails</li>
            <li>ActionScript</li>
            <li>C++</li>
        </ul>
    </div>
</div>
<!-- End 4th Row -->
<!-- End Wrapper -->
</body>
</html>